[Desktop Entry]
Version=1.0
Type=Link
Name=Download - MEGA
Comment=
Icon=user-bookmarks
URL=https://mega.nz/file/O8hxzL4b#aZBeo3HnzIebZvYm8r69Zgv4NX0A3yK14R1PlstRiiY
